In [1]:

import xgboost as xgb
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [3]:

boston = load_boston()
X = pd.DataFrame(boston.data, columns=boston.feature_names)
y = pd.Series(boston.target)

In [4]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [6]:

regressor = xgb.XGBRegressor(

        n_estimators=100,
        reg_lambda=1,
        gamma=0,
        max_depth=3
)

In [7]:

regressor.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=3, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [8]:

y_pred = regressor.predict(X_test)

In [9]:

y_pred

array([24.658707 , 20.29967  , 17.33039  , 16.663275 , 47.487    ,
       17.56082  , 27.075974 , 31.599909 , 24.402845 , 32.65611  ,
       21.670685 , 12.515721 , 22.808897 , 25.931133 ,  9.758278 ,
       16.87249  , 13.816061 , 39.228436 , 33.26772  , 34.278435 ,
       23.316912 ,  9.43163  ,  7.137435 , 15.668147 , 21.743013 ,
       20.603407 , 19.444035 , 20.817568 , 33.961784 , 31.220917 ,
       22.085835 , 20.451424 , 25.518915 ,  6.1369   , 20.399454 ,
       17.693785 , 24.749174 , 44.290565 , 22.13098  , 12.962557 ,
       22.332502 , 17.592741 , 17.537407 , 17.262026 , 15.192411 ,
       44.340008 , 30.1983   , 20.124762 , 44.815895 , 10.959988 ,
       17.135721 , 12.667355 , 12.451116 , 33.52008  ,  6.399903 ,
       17.61562  , 18.87379  , 22.592216 , 21.162323 , 25.677423 ,
       25.32267  , 13.726742 , 16.33763  , 29.407242 , 17.889492 ,
       18.94877  ,  9.911455 , 22.090565 , 18.058043 , 20.277155 ,
       18.813051 , 17.661499 , 48.74121  , 21.223349 , 15.967214 ,
       13.299425 , 23.165186 , 31.317202 , 42.68682  , 37.655285 ,
       15.679536 , 19.707304 , 32.266647 , 23.105902 , 12.150591 ,
       17.737011 , 21.559294 , 19.12761  , 20.584974 , 44.96675  ,
       22.410723 , 25.83086  , 27.952652 , 23.543804 , 17.779606 ,
       18.439209 , 13.884347 , 19.687424 , 18.406574 , 12.6897545,
       37.09305  , 10.598313 , 13.2782135, 30.73288  , 22.364693 ,
       17.010246 , 11.784759 , 32.74524  , 14.881668 , 12.725026 ,
        8.193958 , 33.295906 , 22.917307 , 23.799871 , 12.824858 ,
       23.935297 , 39.909332 , 34.916904 , 20.408049 , 39.46997  ,
       48.53353  ,  9.562275 , 21.54518  , 12.451843 , 16.984922 ,
       20.704136 , 21.303844 ], dtype=float32)

In [10]:

y_test

326    23.0
151    19.6
146    15.6
48     14.4
224    44.8
       ...
375    15.0
394    12.7
467    19.1
71     21.7
53     23.4
Length: 127, dtype: float64

In [11]:

r2_score(y_test, y_pred)

0.9150976455447684